.header {
    padding: 10px 20px;
    max-width: 1250px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 20px;
}

.navigation-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation-link.active {
    align-self: flex-start;
    transform: scale(1.5);
    color: white;
    font-weight: 600;
    order: -1;
    cursor:default;
}

#menu-toggle {
    display: none;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


hr {
    max-width: 1250px;
    margin: 15px auto 15px auto;
}

a {
    text-decoration: none;
    color: inherit;
    /* Optional: Makes the link text inherit its parent's color */
}

nav a {
    display: inline-block;
    padding: 25px;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: translateY(-10px);
}

.projects-list ul li {
    padding: 15px;
    font-size: medium;
}



@media (max-width: 768px) {
    .nav-wrapper{
        display: flex;
        justify-content: flex-end;
    }
    .burger {
        display: block;
        font-size: 28px;
        cursor: pointer;
        z-index: 1002;
        background-color: transparent;
        border: none;
        color: white;
    }

    .nav {
        position: fixed;
        top: 150px;
        right: 1000px;
        width: 240px;
        height: 400px;
        background: #312f2f;
        padding: 20px;
        display: flex;
        flex-direction: column;
        transition: right 0.3s ease;
        z-index: 15;
        border-radius: 25px;
    }

    .nav {
        font-size: x-large;
    }

    .nav.open {
        right: 15px;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1000;
    }

    .overlay.show {
        opacity: 1;
        pointer-events: all;
    }
}